
#coord-bar {

    i.fa{
        color : rgba(219, 37, 116, 1);
        padding:10px 5px;
        align-self:center; 
    }
    i.fa:hover{
        color:#fff;
    }
    span a{
        color: #fff;
 
    }
   
}
.home-cover {
 height:695px;
}